node_modules
.env
flyway.user.toml
build
verseledger-app.sql
report.html
report.json
dist
.scratch
.flyway
**/cypress/screenshots/
services/client/src/CrownsScratch.scratch
*.log
services/client/src/dev-dist
packages/vl-shared/package-lock.json
packages/vl-shared/package.json
packages/vl-shared/package.json
crownScratch.md
crownTasks.md
services/client/src/assets/Workspace/*
.secrets.*
SandboxContent.tsx