.MobileDock {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.5em;
  background-image: linear-gradient(135deg, rgba(14, 49, 243, 0.4), rgba(8, 22, 80, 0.5));
  box-shadow:
    rgba(0, 1, 19, 0.5) 0px 0px 25px 3px,
    rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.1) 0px 35px 75px -35px;
  backdrop-filter: blur(20px);
  gap: 0.2em;
  transform: perspective(30em) rotateX(10deg);
  border-radius: 10px;
  border-left: 3px ridge;
  border-right: 3px ridge;
  border-color: rgba(24, 252, 252) rgba(24, 230, 230, 0.6) rgba(24, 252, 252)
    rgba(24, 252, 252, 0.8);
}
