.SelectScrollWrapper {
  overflow-x: auto;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 0.5em;
  perspective: 1000px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
}

.SelectScrollWrapper::-webkit-scrollbar {
  height: 6px;
}

.SelectScrollWrapper::-webkit-scrollbar-track {
  background: rgba(0, 73, 130, 0);
  border-radius: 10px;
}

.SelectScrollWrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(24, 252, 252, 0);
}

.SelectScrollWrapper:hover::-webkit-scrollbar-thumb {
  background: rgba(24, 252, 252, 1);
}

.SelectScrollWrapper:hover::-webkit-scrollbar-track {
  background: rgba(0, 73, 160, 0.8);
}

.SelectScrollWrapper:hover {
  box-shadow: inset 0 -10px 20px -10px rgba(24, 252, 252, 0.3);
}
