.menu-video {
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -15;
}

#button {
  width: 20em;
  border: 5px ridge;
  transition: 250ms ease-in-out;
  border-color: rgba(8, 22, 80, 0.9);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.4),
    0 1px 3px rgba(0, 0, 0, 0.6);
}

#button:hover {
  width: 24em;
  border: 5px ridge;
  border-color: rgb(14, 35, 141);
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.5),
    0 4px 6px rgba(0, 0, 0, 0.7);
}

#button:active {
  border: 5px ridge #18fcfc;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.5);
}

.Support-Bar {
  display: flex;
  padding-left: 0.5em;
  flex-direction: row;
  gap: 0.5em;
  width: fit-content;
  padding-right: 0.5em;
  margin: 0 auto;
  background-image: linear-gradient(145deg, rgba(14, 35, 141), rgba(0, 1, 19));
  box-shadow:
    rgba(0, 1, 19, 0.4) 0px 0px 15px 2px,
    rgba(22, 31, 39, 0.4) 0px 30px 80px -20px,
    rgba(19, 26, 32, 0.05) 0px 20px 50px -30px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 20px;
  border-color: rgba(33, 150, 243, 0.5) rgba(33, 150, 243, 0.7) rgba(33, 150, 243, 0.5)
    rgba(33, 150, 243, 0.7);
  transform-style: preserve-3d;
  transform: perspective(30em) rotateX(20deg);
  transition:
    transform 0.6s ease-in-out,
    box-shadow 0.4s ease-in-out;
  &:hover {
    transform: perspective(35em) rotateX(5deg);
    box-shadow:
      rgba(0, 1, 19, 0.6) 0px 0px 20px 4px,
      rgba(22, 31, 39, 0.6) 0px 20px 60px -15px;
  }
}

.Icon-Button {
  position: relative;
  background: transparent;
}

.Support-Icon {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
}

.Icon-Button:hover .Support-Icon {
  transform: scale(1.1) rotateZ(2deg);
  filter: drop-shadow(0px 5px 10px rgba(0, 183, 252, 0.5));
}

.Pally-Button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  margin: auto 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  position: relative;
  &:hover {
    background-color: rgb(8, 22, 80);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    filter: drop-shadow(0px 5px 10px rgba(0, 183, 252, 0.5));
  }
  &:active {
    background-color: rgb(8, 22, 80);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
  }
}
