@font-face {
  font-family: 'DigiGraphic';
  src: url('../Fonts/DigiGraphics.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anita';
  src: url('../Fonts/Anita.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alenia';
  src: url('../Fonts/Alenia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ochoa';
  src: url('../Fonts/Banu.otf') format('opentype');
  font-weight: 50;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'xiinthlea';
  src: url('../Fonts/xiinthlea.otf') format('opentype');
  font-weight: 50;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cigOptical';
  src: url('../Fonts/CIGOpticalRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aldrich';
  src: url('../Fonts/Aldrichregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.saira-semi-condensed-thin {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-semi-condensed-extralight {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-semi-condensed-regular {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-medium {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-semi-condensed-bold {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-semi-condensed-extrabold {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.jura-normal {
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jura-bold {
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.jura-extrabold {
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ochoa-normal {
  font-family: 'Banu', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

.ochoa-bold {
  font-family: 'Banu', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

.ochoa-extrabold {
  font-family: 'xiinthlea', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

.xiinthlea-normal {
  font-family: 'xiinthlea', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

.xiinthlea-bold {
  font-family: 'xiinthlea', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}

.xiinthlea-extrabold {
  font-family: 'xiinthlea', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  -moz-font-feature-settings: 'ccmp', 'liga';
  -webkit-font-feature-settings: 'ccmp', 'liga';
  font-feature-settings: 'ccmp', 'liga';
  text-rendering: optimizeLegibility;
}
